@import '../../styles/abstracts/all';

.container{
    display: flex;
    flex-direction: column;
    
    max-width: 100%;
    margin-top: 2rem;

    @media screen and (max-width: 768px) {
        margin-top: 1rem;
    }
}

.profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    
    text-decoration: none;
    color: #000;
    width: fit-content;
    padding: 1rem 1.5rem;
    margin-bottom: .5rem;

    
    background-color: #fff;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 0rem;
    transition: all .3s ease;

    &:hover{
        & .profile__username{
            text-decoration: underline;
        } 
    }

    &__img{
        width: 3rem;
        height: 3rem;
        background-color: #d5d5d5;
        border-radius: 50%;
        overflow: hidden;
    }

    &__username{
        font-size: 1.4rem;
    }
}

.tweet{    
    &__text,
    &__textModal{
        font-size: 1.5rem;
        padding: 1.5rem 2rem;

        background-color: #fff;
        border-top-right-radius: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    &__textModal{
        border-top-left-radius: 2rem;
    }

    
    &__data{ 
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        padding:1.5rem;
        background-color: #fff;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        
        & .results__list{
            list-style: none;
            margin: 0;
            padding: 0;
            
            display: flex;
            gap: 1rem;
            
            & .results__item{ 
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: .5rem;
            }
            
        }

        
        & .date{ 
            color: $secondary-color;
            font-size: 1.5rem;
        }
    }
}

.fetchingEmotions{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;
    background: rgb(218, 218, 218);

    &:after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(181, 181, 181);
        animation: slideRight 
    }
}