@import '../../styles/abstracts/all';

.container{
    display: flex;
    flex-direction: column;
    
    max-width: 100%;
    margin-top: 2rem;
}

.profile{
    display: flex;
    align-items: center;

    gap: 1rem;
    padding: 1rem 1.5rem;
    margin-bottom: .5rem;
    width: fit-content;
    
    background-color: #fff;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 0rem;

    &__img{
        width: 3rem;
        height: 3rem;
        background-color: #d5d5d5;
        border-radius: 50%;
    }

    &__username{
        text-decoration: none;
        color: #000;
        font-size: 1.3rem;
        transition: all .2s ease-in-out;

        &:hover{
            color: $main-color;
            text-decoration: underline;
            text-underline-offset: .2rem;
        }
    }
}

.tweet{
    &__text{
        font-size: 1.5rem;
        padding: 1.5rem 2rem;

        background-color: #fff;
        border-top-right-radius: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    
    &__data,
    &__modalData{ 
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        padding:1.5rem;
        background-color: #fff;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        
        & .results__list{
            list-style: none;
            margin: 0;
            padding: 0;
            
            display: flex;
            gap: 1rem;
            
            & .results__item{ 
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: .5rem;
            }
            
        }

        &__modalData{
            border-radius: 2rem;
        }
        
        & .date{ 
            color: $secondary-color;
            font-size: 1.5rem;
        }
    }
}