@import '../../styles/abstracts/all';

.container{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    background-color: #fff;
}

.profile{
    display: flex;

    padding: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    & a{
        text-decoration: none;
        color: #000;
        font-size: 1.3rem;
        transition: all .2s ease-in-out;

        &:hover{
            color: $main-color;
            text-decoration: underline;
            text-underline-offset: .2rem;
        }
    }
}

.tweet{
    &__text{
        padding: 1.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    &__data{ 
        display: flex;
        justify-content: space-between;

        padding:1.5rem;

        & .results__list{
            list-style: none;
            margin: 0;
            padding: 0;

            display: flex;
            gap: 1rem;
        
            & .results__item{ 
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: .5rem;
            }
        }
    }
}