.container{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    background-color: #fff;
}

.profile{
    display: flex;

    padding: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    & a{
        text-decoration: none;
        color: #000;

        &:hover{
            color: $main-color;
            text-decoration: underline;
            text-unde
        }
    }
}