@import '../../../../styles/abstracts/all';

.userSection{
    width: 35rem;
    height: 100%;
    padding-top: 4rem;
    background-color: $secondary-color;

    &_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        
        &Img{
            width: 11rem;
            height: 11rem;
            object-fit: cover;
        }

        &Name{
            display: block;
            margin-top: 1.5rem;
            color: #fff;
            font-size: 1.6rem;   
            font-weight: 500;
        }

        & .topicName{
            font-weight: 700;
            font-size: 1.7rem;
        }
    }
}

@media (max-width: 428px){
    .userSection{
        width: 100%;
        height: 28rem;
        justify-content: center;
        padding: 0;


        &_info{
            height: 100%;
            justify-content: center;

            &Name{
                margin-top: 1rem;
                font-size: 1.7rem;
                font-weight: 500;
            }
        }
    }
}