@import '../../../styles/abstracts/all';

.loadedTweets{
    @include fixed-modal();
    @include glassmorphism();
    z-index: 1;
}

.twitter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 

    width: 120rem;
    height: 65rem;
    border-radius: $modal-radius;
    // background-color: $main-color;
    overflow: hidden;
    z-index: 99;
}

//Tweets Modal
@media (max-width: 428px){
    .twitter{
        flex-direction: column;
        min-width: 42rem;
        max-width: 42rem;
        height: calc(100% - 4rem);
    }
}