@import '../../../styles/abstracts/all';

.loadedTweets{
    @include fixed-modal();
    @include glassmorphism();
    z-index: 1;
}

.twitter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 2rem;

    width: 120rem;
    height: 65rem;
    // background-color: $main-color;
    overflow: hidden;
    z-index: 99;
}

//Tweets Modal
@media (max-width: 992px){
    .twitter{
        flex-direction: column;
        width: 100%;
        height: calc(100% - 4rem);
        padding: 1rem
    }
}

@media (max-width: 428px){
    .twitter{
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        height: calc(100% - 4rem);

        padding: 0rem 1rem 1.5rem;
    }
}