@import '../'

.error{
    display: block;
    color: #fff;
    font-size: 1.3rem;
    margin: 3rem auto 0;
    padding: .8rem 1.5rem;
    width: fit-content;
    background: $error;
    border-radius: 5rem;
}