@mixin text-gradient {
  background: linear-gradient(26deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  background: -webkit-linear-gradient(26deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  background: -ms-linear-gradient(26deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  background: -o-linear-gradient(26deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//added inside an absolute positioned ::before or ::after 
@mixin overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}