@import '../../styles/abstracts/all';

.analyseProfile__searchBar{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 100%;

    & h2{
        text-align: center;
        font-size: 1.8rem;
        color: #fff;
    }

    &_inputContainer{
        max-width: 80%;        
        min-width: 80%;
        display: flex;
    }  

    &_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        padding: 1rem;
        

        background-color: #fff;
        border: none;
        border-left: 1px solid $main-color;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;

        cursor: pointer;
    }

    @media screen and (max-width: 750px){
        justify-content: flex-start;   
    }
}

.input{
    flex: 1;
    
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: $secondary-color;
    padding: 1.3rem 2rem;

    border: 1px solid transparent;
    background-color: #fff;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    outline: none;

    &::placeholder{
        color: rgba($secondary-color, .5);
    }
} 