@import '../../../../styles/abstracts/all';

.tweetsSection{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    overflow-y: auto;
    padding: 4rem;
    border-radius: 2rem;

    & .title{
        color: #fff;
        font-size: 2.4rem;
        font-weight: 500;
    }
}

//Mobile
@media (max-width: 428px){
    .tweetsSection{
        padding: 2rem;

        & .title{
            font-size: 2.2rem;
        }
    }
}