@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './abstracts/all';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right,  0%, $secondary-color $main-color 80%);
  background: -webkit-linear-gradient(to right, $main-color 0%, $secondary-color 80%);
  background: -moz-linear-gradient(to right, $main-color 0%, $secondary-color 80%);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


::-webkit-scrollbar{
  width: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: 1rem;
}