@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './abstracts/all';

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  
  font-family: 'Poppins', sans-serif;
  
  background: linear-gradient(to right, $secondary-color 0%,  $main-color 80%);
  background: -webkit-linear-gradient(to right, $main-color 0%, $secondary-color 80%);
  background: -moz-linear-gradient(to right, $main-color 0%, $secondary-color 80%);
  box-sizing: border-box;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/******************************/
::-webkit-scrollbar{
  width: .5rem;
  background: $main-color;
}

::-webkit-scrollbar-thumb{
  background-color: $secondary-color;
  border-radius: 1rem;
}

/******************************/
.f-height{
  height: 100vh;
}

.section-padding{
  padding: 0 10rem;
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  
  margin: 0 auto;
  
  @media screen and(max-width: 992px) {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 0 5rem;
  }
}


/*LoadingIcon*/
@keyframes ldio-2inkeyfpccq {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ldio-2inkeyfpccq div {
  position: absolute;
  animation: ldio-2inkeyfpccq 1s linear infinite;
  width:  50px;
  height: 50px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #fff;
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-syj8g7jl36s {
  width: 80px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  // background: ;
}
.ldio-2inkeyfpccq {
  width: 80px;
  height: 80px;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-2inkeyfpccq div {
  box-sizing: content-box;
}
