@import './abstracts/_all.scss';

.container {
  padding: 0 2rem;
}

.h1 {
  @include text-gradient;
  font-size: 64px;
  font-weight: 300;
}

.lottie{
  position: relative;

  &::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;left: 0;
  }
}