@import '../../styles/abstracts/all';

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    gap: 3rem;
}

.left{
    flex: 1;

    &__title{
        font-size: 5.5rem;
        // @include text-gradient;
        color: white;
    }

    &__desc { 
        font-size: 2.4rem;
        font-weight: 300;
        width: 40ch;
        color: rgba(255, 255, 255, 0.8);
    }

    &__actions{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        margin-top: 3rem;

        &_btn{
            width: 80%;
            padding: 1rem;
            border: 1px solid #fff;
            color: #fff;
            cursor: pointer;
        }
    }
}

.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    background: -webkit-radial-gradient(46.2rem, #02547A, transparent 50%);
    background: radial-gradient(46.2rem, #02547A, transparent 50%);

    &__twitterImg{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    &__emotionIcons{
        position: relative;
        width: 100%;
        height: 100%;

        & .imgWrapper{
            position: absolute;
            top: 30%;
            left: -4%;
        }
    }
}