@import '../../styles/abstracts/all';

.analyseProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.anayseProfile__animation,
.analyseProfile__searchBar{
    flex: 1;
}


.analyseProfile__searchBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    &_inputContainer{
        width: 80%;        
        display: flex;
    }  
}

.input{
    flex: 1;
    border: 1px solid transparent;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 2rem;
    outline: none;
} 