.analyseProfile{
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-between;
}

.anayseProfile__animation,
.analyseProfile__searchBar{
    flex: 1;
}

.anayseProfile__animation{
    &_lottie{
        width: 25rem;
        height: 100%;
    }
}