@import '../../styles/abstracts/all';

.analyseProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.anayseProfile__animation,
.analyseProfile__searchBar{
    flex: 1;
}


.analyseProfile__searchBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 100%;

    &_inputContainer{
        max-width: 80%;        
        display: flex;
    }  
}

.input{
    flex: 1;
    border: 1px solid transparent;
    background-color: #fff;
    padding: 2rem;
    border-radius: 3rem;
    outline: none;
    font-size: 1.6rem;
    color: 
} 