@import '../../styles/abstracts/all';

.analyseProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.anayseProfile__animation,
.analyseProfile__searchBar{
    flex: 1;
}

.analyseProfile__animation{
    position: relative;
    
    width: 55rem;
    height: 55rem;

    &::after{
        content:"";
        //To stop the animation from being paused everytime it is clicked
        @include overlay;
    }

}

.analyseProfile__searchBar{
    display: flex;
    flex
    align-items: center;
    justify-content: center;
}
