@import '../../styles/abstracts/all';

.analyseProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.anayseProfile__animation,
.analyseProfile__searchBar{
    flex: 1;
}


.analyseProfile__searchBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 100%;

    &_inputContainer{
        max-width: 80%;        
        display: flex;
    }  

    &_btn{
        width: 3rem;
        height: 3rem;
        padding: 1rem;
        margin

        background-color: #fff;
        border: none;
        border-radius: 50%;

        cursor: pointer;
    }
}

.input{
    flex: 1;
    
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: $secondary-color;
    padding: 1.3rem 2rem;

    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 3rem;
    outline: none;

    &::placeholder{
        color: rgba($secondary-color, .7);
    }
} 